{% extends "app/base.html" %}
{% load static %}
{% block title %}Refund policy{% endblock title %}

{% block main-content %}
<div>
    <h1 class="text-center text-decoration-underline ">Cancellation/Refund Policy</h1>
</div>
<div class="container shadow p-5">
    <div class="row">
        <h6 class="text-center">Thank you for shopping at Neels Dairy Products. If you are not entirely satisfied with your purchase, we're here to help.</h6>
        <p>Last updated: july 29,2024</p><br><br>

        <h3>Introduction :</h3>
        <div class="content">
            <p>We strive to ensure that our customers are satisfied with their purchases. However, if you need to cancel an order or request a refund, please read our policy carefully.</p>
        </div>

        <h3>Eligibility :</h3>
        <div class="content">
            <p>Orders can be canceled or refunded under the following conditions:</p>
            <ul>
                <li>Product is damaged or defective upon arrival.</li>
                <li>Incorrect product received.</li>
                <li>Order canceled within 7 hours of placing it.</li>
            </ul>
        </div>

        <h3>Process :</h3>
        <p>To request a cancellation or refund, please follow these steps:</p>
        <div class="content">
            <ol>
                <li>Contact our customer support team at <a class="text-decoration-none" href="mailto:murugangv555@gmail.com">murugangv555@gmail.com</a> or call us at <a class="text-decoration-none" href="tel:+919344974951">+91 9344974951</a>.</li>
                <li>Provide your order number and reason for cancellation or refund.</li>
                <li>Our team will review your request and provide further instructions.</li>
            </ol>
        </div>

        <h3>Timelines :</h3>
        <div class="content">
            <p>Requests for cancellations or refunds must be made within 10 days of receiving the product. Refunds will be processed within 7 business days after approval.</p>
        </div>
        
        <h3>Shipping and Delivery :</h3>
        <div class="content">
            <p>Ordres are shipped within (Minimum 4 days or Maximum 7 days) or as per the delivery date agreed at the time of order confirmation and delivering the shipment subject to courier company/ post office norms.</p>
        </div>

        <h3>Fees or Charges :</h3>
        <div class="content">
            <p>In some cases, a cancellation or restocking fee may apply. This will be communicated to you during the refund process.</p>
        </div>

        <h3>Contact Information :</h3>
        <div class="content">
            <p>If you have any questions or need further assistance, please contact us:</p>
            <p>Email: <a class="text-decoration-none" href="mailto:murugangv555@gmail.com">murugangv555@gmail.com</a></p>
            <p>Phone: <a class="text-decoration-none" href="tel:+919344974951">+91 9344974951</a></p>
            <p>Address: 5/1044, Jeeva Nagar, Menasi (Post), Pappireddipatty (Taluk), Dharmapuri (District), Tamil Nadu - 636904</p>
        </div>
    </div>
</div>
<br>
{% endblock main-content %}
<br><br>
