{% extends "app/base.html" %}
{% load static %}
{% block title %}Refund policy{% endblock title %}

{% block main-content %}
<div>
    <h1 class="text-center text-decoration-underline ">Terms and conditions</h1>
</div>
<div class="container shadow p-5">
    <div class="row">
        <h6 class="text-center">Welcome to Neel's Dairy Products! By using our website, you agree to comply with and be bound by the following terms and conditions. Please review these terms carefully before using our site.</h6>

        <ul><h3>1. Acceptance of Terms :</h3>
            <div class="content">
                <li>By accessing and using this website, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use and our Privacy Policy.</li>
                <li>If you do not agree to these terms, please do not use our website.</li>
                <li>We reserve the right to modify or update these terms at any time without prior notice.</li>
                <li>Your continued use of the website following any changes constitutes your acceptance of the new terms.</li>
                <li>We encourage you to periodically review these terms for any updates or changes.</li>
                <li>For specific terms related to purchases or subscriptions, please refer to our <a class="text-decoration-none" href="{% url 'refundpolicy'%}">Refund policy</a> and <a class="text-decoration-none" href="{% url 'privacypolicy'%}">Privacy policy</a>.</li>
            </div>
        </ul>
        <ul><h3>2. Use of the Website :</h3>
            <div class="content">
                <li>You agree to use this website only for lawful purposes and in a manner that does not infringe upon the rights of others or restrict or inhibit anyone else’s use and enjoyment of the site.</li>
                <li>Prohibited activities include, but are not limited to, harassing or causing distress or inconvenience to any person, transmitting obscene or offensive content, or disrupting the normal flow of dialogue.</li>
                <li>We may take appropriate legal action if you violate these terms.</li>
                <li>We reserve the right to terminate or suspend access to our website at any time, without notice, for any reason.</li>
                <li>We also reserve the right to limit or restrict your access if we believe you are violating these terms.</li>
            </div>
        </ul>
        <ul><h3>3. Intellectual Property :</h3>
            <div  class="content">
                <li>All content on this website, including text, graphics, logos, images, and software, is the property of Neel's Dairy Products or its licensors and is protected by copyright, trademark, and other intellectual property laws.</li>
                <li>You may not reproduce, distribute, modify, or create derivative works from any content on our website without our express written permission.</li>
                <li>The use of any trademarks or service marks displayed on this website is strictly prohibited unless authorized by us.</li>
                <li>All rights not expressly granted herein are reserved to Neel's Dairy Products.</li>
                <li>Any unauthorized use of our intellectual property may result in legal action.</li>
                <li>For permissions or licensing inquiries, please contact us at <a class="text-decoration-none" href="#">support@neelsdairyproducts.com</a>.
            </div>
        </ul>
        <ul><h3>4. User Accounts :</h3>
            <div  class="content">
                <li>To access certain features of our website, you may be required to create an account and provide accurate and complete information.</li>
                <li>You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account.</li>
                <li>Notify us immediately if you become aware of any unauthorized use of your account.</li>
                <li>We reserve the right to suspend or terminate your account if we suspect any breach of security or misuse of our services.</li>
                <li>We are not liable for any loss or damage arising from your failure to protect your account information.</li>
            </div>
        </ul>
        <ul><h3>5. Purchases and Payments :</h3>
            <div  class="content">
                <li>When making purchases on our website, you agree to provide accurate and complete information and to pay all charges incurred.</li>
                <li>We reserve the right to refuse or cancel any order for reasons including, but not limited to, availability of products, inaccuracies in product or pricing information, or suspected fraud.</li>
                <li>All payments are processed through secure payment gateways, and we do not store your payment information.</li>
                <li>Please review our [Refund Policy](#) for information on returns and refunds.</li>
                <li>We are not responsible for any issues that may arise with payment processing beyond our control.</li>
            </div>
        </ul>
        <ul><h3>6. Links to Other Websites :</h3>
            <div  class="content">
                <li>Our website may contain links to third-party websites. These links are provided for your convenience and do not imply endorsement or responsibility for the content of those sites.</li>
                <li>We are not responsible for the privacy practices or content of any third-party sites.</li>
                <li>You should review the terms and privacy policies of any third-party websites you visit.</li>
                <li>We are not liable for any damages or losses resulting from your use of third-party websites.</li>
                <li>Any transactions or interactions you have with third parties are solely between you and the third party.</li>
            </div>
        </ul>
        <ul><h3>7. Limitation of Liability :</h3>
            <div  class="content">
                <li>To the maximum extent permitted by law, Neel's Dairy Products shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or related to your use of this website.</li>
                <li>This includes, but is not limited to, damages for loss of profits, data, or other intangible losses.</li>
                <li>Our liability for any claim arising from your use of the website shall be limited to the amount you paid, if any, for accessing or using the website.</li>
                <li>We make no warranties or representations about the accuracy, reliability, or completeness of the content on the website.</li>
                <li>We are not responsible for any errors or omissions in the content or for any loss or damage incurred by you or any third party as a result of using the website.</li>
            </div>
        </ul>
        <ul><h3>8. Governing Law :</h3>
            <div  class="content">
                <li>These Terms of Use shall be governed by and construed in accordance with the laws of India.</li>
                <li>Any disputes arising from or related to these terms or your use of the website shall be resolved in the courts located in Bengaluru, India.</li>
                <li>You consent to the exclusive jurisdiction of the courts in Bengaluru for any disputes that may arise.</li>
                <li>All legal actions or proceedings must be brought within one year after the claim or cause of action arises.</li>
                <li>Any failure to enforce any provision of these terms does not constitute a waiver of such provision.</li>
            </div>
        </ul>
        <ul><h3>9. Contact Us :</h3>
            <div  class="content">
                <li>If you have any questions or concerns about these Terms of Use, please contact us at <a class="text-decoration-none" href="#">support@neelsdairyproducts.com</a> or call us at<a class="text-decoration-none" href="#"> +91 9344847654<a>.</li>
                <li>We are here to help with any issues or inquiries you may have regarding our website and services.</li>
                <li>For further information, you can also reach out to us through our contact form on the website.</li>
                <li>Your feedback is important to us and helps us improve our services.</li>
                <li>Thank you for visiting Neel's Dairy Products.</li>
            </div>
        </ul>
    </div>
</div>
<br>
{% endblock main-content %}
<br><br>